@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mySin: #FEAA26;
  --arsenic: #3B424c;
  --malibu: #02C0EB;
  --silverSand: #C0C0BE;
  --blackWhite: #E6E5DD;
  --white: #FFFFFF;
}

@layer components {
  .hoverEffect {
    @apply cursor-pointer hover:bg-silverSand rounded-full w-[52px] xl:w-auto h-[52px] xl:h-auto xl:p-3;
  }

  .hoverUniversity {
    @apply cursor-pointer xl:w-full bg-mySin300 bg-opacity-50  sm:rounded-xl xl:px-1 font-bold xl:text-sm 2xl:text-lg
  }
  .hoverUniversityLine {
    @apply w-1 h-full bg-mySin absolute right-[0px] sm:right-[-10px] xl:right-[-20px]
  }

  .hoverUniversityProfiel {
    @apply cursor-pointer xl:w-full bg-mySin300 bg-opacity-50  sm:rounded-2xl xl:px-1 
  }

  .buttonOrange {
    @apply px-6 py-1 md:px-8 md:py-2 xl:px-10 xl:py-2 2xl:px-14 2xl:py-2 w-auto h-auto bg-mySin text-arsenic rounded-xl text-base md:text-lg xl:text-xl font-bold shadow-md shadow-silverSand/50
  }

  .buttonBlack {
    @apply px-6 py-1 md:px-8 md:py-2 xl:px-10 xl:py-2 2xl:px-14 2xl:py-2 w-auto h-auto bg-arsenic text-blackWhite rounded-xl text-base md:text-lg xl:text-xl font-bold shadow-md shadow-silverSand/50
  }

  .box {
    @apply p-6 sm:p-10 border-[1px] border-silverSand/40 shadow-md shadow-silverSand/50 rounded-xl
  }

  .boxHome {
    @apply p-6 sm:p-10 md:p-16 md:px-4 xl:px-10 border-[1px] border-silverSand/40 shadow-md shadow-silverSand/50 rounded-xl
  }
  

}

body {
  background: var(--white);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
