@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mySin: #FEAA26;
  --arsenic: #3B424c;
  --malibu: #02C0EB;
  --silverSand: #C0C0BE; 
  --blackWhite: #E6E5DD;
}

@layer components {
  .hoverEffect {
    @apply cursor-pointer hover:bg-silverSand rounded-full w-[52px] xl:w-auto h-[52px] xl:h-auto xl:p-3;
  }
}

body {
  background: var(--blackWhite);
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
